@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul li , ol li{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
.nav-container{
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}
nav ul {
    display: flex;
}
nav .logo{
    font-size: 64px;
    font-weight: 800;
    font-style: normal;
    font-family: Poppins;
    color: #021718;
}
.nav-items li{
    margin-right: 100px;
}
.nav-items li:last-child{
    margin: 0;
}
.nav-items li a{
    font-size: 24px;
    color: #021718;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header-container{
    background: #f5a05c url(image/bg\ shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    /* height: calc(100vh - 72px); */
    /* display: flex; */
    /* align-items: center; */
}

/* Heade */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 53px;
    font-weight: 900;
    font-style: normal;
    line-height: 75px;
    color: #021718;
}
header p{
    font-size: 24px;
    line-height: 42px;
    color: #021718;
    width: 418px;
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    margin-bottom: 30px;
}

/* Hero content */
.hero-content a{
    /* width: 196px;
    height: 60px; */
    padding: 12px 48px;
    color: #FFFFFA;
    background: #01847F;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    display: inline-block;
    transition: 3000ms;
}
.hero-content a:hover{
    transform: translateY(-8px);
}

/* Hero Image */
.hero-image{
    position: relative;
    padding-top: 100px;
    
}
.hero-image img{
    transition: 0.3s linear;
    position: relative;
    z-index: 100;
}
.hero-image img:hover{
    transform:rotate(-6deg);
}
.hero-image .photo-bg{
    position: absolute;
    width: 497px;
    height: 497px;
    left: 48px;
    top: 127px;
    background: #44a1a0;
    transform: rotate(-5.47deg);
}
/* Social Icon */
.social-icon{
    margin-left: 160px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.social-icon a{
    padding-right: 40px;
    text-align: center;
}
.social-icon img:last-child{
    padding-right: 0;
}

/*Search box */
.search-box{
    /* background: red; */
    width: 1200px;
    margin: 0 auto;
    text-align:right;
    position: relative;
    top: 0;
    transition: 300ms;
}
.search-box .active{
    top: 72px;
}
.search-box input{
    background: #FFFFFA;
    box-shadow: 0 4px 8px rgba(0,0 , 0, 0.15);
    border-radius: 0 0 8px 8px;
    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;

}
.search-box input::placeholder{
    color: #b3b3b3;
}
/* Hidden Items */
